body {
    background-color: #B5AA9E;
}

/* Sign In and Sign Up Pages */

/* Centering everything */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Logo Image */
#logo {
    height: 250px;
    width: auto;
    margin: 0px 0px 0px 320px;
}

/* RosePedal */
#title {
    font-family: 'Domine', serif;
    color: white;
    font-size: 110px;
    text-shadow: 3px 3px 3px #720000;
    margin-top: -75px;
}

#lender {
    font-family: 'Josefin Sans', sans-serif;
    color: #720000;
    font-size: 50px;
    margin: 0px 0px 15px 430px;
}

/* Inputs */
#username,
#password {
    border: 1px solid #720000;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    width: 35%;
    border-radius: 10px;
}

/* Button */
#login {
    background-color: #720000;
    border: 1.3px solid #340000;
    width: 20%;
    font-family: 'Domine', serif;
    font-size: 20px;
    color: white;
    height: 50px;
    border-radius: 10px;
}

/* Button Link Shortcut */
#login2 {
    font-family: 'Domine', serif;
    font-size: 20px;
    color: white;
    height: 50px;
}

/* Sign Up or Sign In Link */
#signUpHere {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: white;
    width: 35%;
}

/* Home Page */

/* Nav Bar */
#roseIcon {
    height: 45px;
    width: auto;
    margin: 8px 0 -22px 6px;
}

#iconTitle {
    font-family: 'Josefin Sans', sans-serif;
    color: #720000;
    font-size: 30px;
    margin: -11px 0px 0px 70px;
}

.navbar-default {
    background-color: #B5AA9E;
    border-color: #B5AA9E;
    height: 65px;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    font-size: 18px;
    margin-top: -40px;
    margin-right: 20px;
}

.nav-link:hover {
    color: #720000;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    margin-top: 0px;
    background-color: #000000d4;
    margin-right: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    margin-top: -17px;
    width: 30%;
    float: right;
}

/* Map Image Placeholder */
#mainMap {
    width: 100%;
}

/* Map Stations */

/* Bike Station Rows */
#station1,
#station2,
#station3,
#station4,
#station5,
#station6 {
    background-color: white;
    border: 1px solid #E6E6E6;
    color: #720000;
}

#stationTitle {
    font-family: 'Domine', serif;
}

#address,
#bikes {
    font-family: 'Josefin Sans', sans-serif;
}

#bikes {
    margin-bottom: 15px;
}

#select {
    background-color: #910202;
    border: 1px solid #430000;
    margin-top: 60px;
    height: 40px;
    width: 100%;
}

/* Select Buttons */
#select1,
#select2,
#select3,
#select4,
#select5,
#select6 {
    font-family: 'Domine', serif;
    color: white;
    font-size: 20px;
}

/* Selected Station */

/* Selected Station Map */
#pin1Map {
    width: 100%;
    margin-top: 55px;
}

#selected1 {
    background-color: #430000;
    border: 1px solid black;
    margin-top: 60px;
    height: 40px;
    width: 100%;
}

#station1bikes {
    background-color: #E6E6E6;
}

/* Nedded Bikes label */
#bikeLabel {
    font-family: 'Domine', serif;
    color: #720000;
    font-size: 25px;
    margin-left: 75px;
    margin-bottom: 25px;
}
 /* Bikes in the List */
#bike {
    font-family: 'Josefin Sans', sans-serif;
    color: #720000;
    font-size: 20px;
    margin-left: 75px;
}

/* Last bike in the list */
#bikeBottom {
    font-family: 'Josefin Sans', sans-serif;
    color: #720000;
    font-size: 20px;
    margin-left: 75px;
    margin-bottom: 25px;
}

/* Camera icon */
#camera {
    height: 33px;
    width: auto;
    left: 50%;
    margin-top: 5px;
    margin-left: 25px;
}

#station1selected {
    margin-top: 15px;
    border: 1px solid #E6E6E6;
    background-color: white;
    color: #720000;
}


@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 1024px) {
    #title {
        font-size: 93px;
    }
    #logo {
        height: 235px;
        margin: 0px 0px 0px 263px;
    }
    #lender {
        margin: 0px 0px 15px 330px;
    }
}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {
    #title {
        font-size: 71px;
    }
    #logo {
        height: 200px;
        margin: 20px 0px 15px 192px;
    }
    #lender {
        margin: 0px 0px 15px 244px;
        font-size: 40px;
    }
    #username, 
    #password {
        height: 48px;
        margin-bottom: -10px;
    }
    #login {
        height: 48px;
    }
}
@media screen and (max-width: 640px) {
    #title {
        font-size: 59px;
    }
    #logo {
        height: 160px;
        margin: 20px 0px 25px 160px;
    }
    #lender {
        margin: 0px 0px 15px 200px;
        font-size: 36px;
    }
    #username, 
    #password {
        height: 45px;
        width: 45%;
    }
    #login {
        height: 45px;
        width: 25%;
    }
    #roseIcon {
        margin: -129px 0 -26px 6px;
    }
    #iconTitle {
        margin: -72px 0px 0px 60px;
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
        color: white;
        font-size: 26px;
    }
    #select {
        width: 35%;
        margin: 0 0 20px 200px;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
}
@media screen and (max-width: 600px) {
    #title {
        font-size: 56px;
    }
    #logo {
        height: 145px;
        margin: 20px 0px 30px 150px;
    }
    #lender {
        margin: 0px 0px 15px 191px;
        font-size: 33px;
    }
    #username, 
    #password {
        height: 42px;
        width: 40%;
    }
    #login {
        height: 42px;
        width: 20%;
    }
    #select {
        margin: 0px 0 20px 175px;
    }
}
@media screen and (max-width: 425px) {
    #title {
        margin-bottom: 13px;
        font-size: 61px;
        margin-top: -25px;
        width: 80%;
    }
    #logo {
        height: 140px;
        margin: 20px 0px -16px 58px;
    }
    #lender {
        margin: 0px 0px 15px 103px;
        font-size: 33px;
    }    
    #username, 
    #password,
    #login {
        height: 32px;
        border-radius: 6px;
        width: 60%;
    }
    #login {
        width: 35%;
    }
    #login2 {
        font-size: 13px;
        vertical-align: top;
        line-height: 1.5;
    }
    #signUpHere {
        width: 60%;
    }
    #select {
        width: 40%;
        margin: 0px 0 20px 110px;
    }
}
@media screen and (max-width: 414px) {
    #logo {
        height: 140px;
        margin: 20px 0px -15px 55px;
    }
    #select {
        margin: 0px 0 20px 105px;
    }
}
@media screen and (max-width: 375px) {
    #title {
        font-size: 54px;
    }
    #logo {
        height: 125px;
        margin: 20px 0px -14px 48px;
    }
    #lender {
        margin: 0px 0px 15px 87px;
        font-size: 30px;
    }
    #roseIcon {
        height: 35px;
        margin: -130px 0 -25px 6px;
    }
    #iconTitle {
        font-size: 22px;
        margin: -70px 0px 0px 49px;
    }
    .navbar-default .navbar-toggle {
        font-size: 22px;
    }
    .navbar-default {
        height: 50px;
    }
}
@media screen and (max-width: 360px) {
    #title {
        font-size: 51px;
    }
    #logo {
        height: 120px;
        margin: 20px 0px -10px 45px;
    }
    #lender {
        margin: 0px 0px 15px 84px;
        font-size: 28px;
    }
}
@media screen and (max-width: 320px) {
    #title {
        font-size: 45px;
    }
    #logo {
        height: 100px;
        margin: 20px 0px -5px 43px;
    }
    #lender {
        margin: 0px 0px 15px 72px;
        font-size: 25px;
    }
    #select {
        width: 50%;
        margin: 0px 0 20px 67px;
    }
}